<div class="erp-layout">

  <!-- Sidebar -->

  <aside class="sidebar">

    <div class="logo">
      <div class="logo-icon">
        <span>i</span>
      </div>

      <div>
        <strong>SmartERP</strong>
        <small>Enterprise System</small>
      </div>
    </div>


    <div class="menu-title">
      MAIN MENU
    </div>


    <nav>

      <a
        routerLink="/dashboard"
        routerLinkActive="active">

        <span class="icon">▦</span>

        Dashboard

      </a>


      <a
        routerLink="/items"
        routerLinkActive="active">

        <span class="icon">▤</span>

        Items

      </a>


      <a
        routerLink="/purchase"
        routerLinkActive="active">

        <span class="icon">🛒</span>

        Purchase

      </a>


      <a
        routerLink="/stock-issue"
        routerLinkActive="active">

        <span class="icon">📦</span>

        Stock Issue

      </a>

    </nav>


    <div class="sidebar-bottom">

      <div class="user-box">

        <div class="avatar">
          SK
        </div>

        <div>
          <strong>Sachin Kumar</strong>
          <small>Administrator</small>
        </div>

      </div>

    </div>

  </aside>


  <!-- Content -->

  <main class="main-content">

    <header class="topbar">

      <div>
        <span class="breadcrumb">
          SmartERP
        </span>
      </div>


      <div class="top-actions">

        <button class="notification">
          🔔
          <span></span>
        </button>

        <div class="profile">
          SK
        </div>

      </div>

    </header>


    <section class="page-content">

      <router-outlet></router-outlet>

    </section>

  </main>

</div>