<div class="erp-layout">

  <!-- Sidebar -->

  <aside class="sidebar">

    <div class="logo">
      <div class="logo-icon">
        <span>i</span>
      </div>

      <div>
        <strong>SmartERP</strong>
        <small>Enterprise System</small>
      </div>
    </div>


    <div class="menu-title">
      MAIN MENU
    </div>


    <nav>

      <a
        routerLink="/dashboard"
        routerLinkActive="active">

        <span class="icon">▦</span>

        Dashboard

      </a>


      <a
        routerLink="/items"
        routerLinkActive="active">

        <span class="icon">▤</span>

        Items

      </a>


      <a
        routerLink="/purchase"
        routerLinkActive="active">

        <span class="icon">🛒</span>

        Purchase

      </a>


      <a
        routerLink="/stock-issue"
        routerLinkActive="active">

        <span class="icon">📦</span>

        Stock Issue

      </a>

    </nav>


    <div class="sidebar-bottom">

      <div class="user-box">

        <div class="avatar">
          SK
        </div>

        <div>
          <strong>Sachin Kumar</strong>
          <small>Administrator</small>
        </div>

      </div>

    </div>

  </aside>


  <!-- Content -->

  <main class="main-content">

<header class="topbar">

  <!-- Left -->
  <div class="topbar-left">

    <span class="breadcrumb">
      SmartERP
    </span>

    <div class="global-search">

  <span class="search-icon">
    🔍
  </span>


  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search menu, item, purchase..."
    (keyup.enter)="onSearch()"
  />


  <!-- Clear -->
  <button
    *ngIf="searchText"
    type="button"
    class="clear-btn"
    (click)="searchText = ''">

    ×

  </button>


  <!-- Mic -->
  <button
    type="button"
    class="mic-btn"
    (click)="startVoiceSearch()"
    [class.listening]="isListening"
    [title]="isListening ? 'Stop Voice Search' : 'Voice Search'">

    <span *ngIf="!isListening">
      🎙️
    </span>

    <span *ngIf="isListening" (click)="stopVoiceSearch()">
      🔴
    </span>

  </button>


  <!-- Search Results -->

  <div
    class="search-results"
    *ngIf="searchText && searchResults.length > 0">

    <div
      class="search-result-item"
      *ngFor="let menu of searchResults"
      (click)="openSearchResult(menu)">

      <span class="result-icon">
        {{ menu.icon }}
      </span>

      <div class="result-content">

        <strong>
          {{ menu.name }}
        </strong>

        <small>
          Open {{ menu.name }}
        </small>

      </div>

    </div>

  </div>

</div>

  </div>


  <!-- Right -->
  <div class="top-actions">

    <button class="notification">
      🔔
      <span></span>
    </button>

    <div class="profile">
      SK
    </div>

  </div>

</header>


    <section class="page-content">

      <router-outlet></router-outlet>

    </section>

  </main>

</div>